@use "../../scss/variables" as *;

.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 80px;

    &__slider,
    &__image {
        max-width: 600px;
        width: 100%;
        height: 600px;
    }

    &__placeholder {
        font-size: 2.4rem;
        margin-bottom: 10px;
        text-align: center;
    }

    &__leftSide {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__textWrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        font-size: 4.8rem;
        color: $primary;
    }

    &__brand {
        font-size: 2.4rem;
        font-weight: 600;
    }

    &__price {
        font-weight: 600;
        font-size: 3.2rem;
    }

    &__button {
        font-size: 2.4rem;
        font-weight: 600;
        padding: 10px 25px;
        color: $white;
        background-color: $primary;
        border: 1px solid $primary;
        border-radius: 10px;
        transition: all 0.3s ease;

        &:hover,
        &:focus {
            color: $primary;
            background-color: $white;
        }
    }

    &__descriptionWrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__subtitle {
        font-weight: 600;
        font-size: 2.4rem;
    }
}

.variations {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__selector {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__colorButton {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 8px;
        border: 2px solid transparent;
        transition: all 0.3s ease;
    }

    &__colorButtonActive {
        border-color: $primary;
    }

    &__sizeButton {
        padding: 5px 10px;
        border: 1px solid $dark-charcoal;
        border-radius: 5px;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            background: $cultured;
        }
    }

    &__sizeButtonActive {
        background: $primary;
        color: $white;
        border-color: $primary;

        &:hover {
            color: $primary;
        }
    }
}