@use "../../../scss/variables" as *;

.header {
    &__bottomWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        padding: 15px 0;
    }

    @media (max-width: 1199px) {
        &__bottomWrapper {
            gap: 40px;
        }
    }

    @media (max-width: 767px) {
        &__bottomWrapper {
            gap: 20px;
            flex-direction: column;
        }
    }
}