.recommendedList {
    &__title {
        font-size: 3.6rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__wrapper  {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
    }
}