//Colors
$primary: #3E549D;
$coquelicot: #F93C00;
$gray: #808080;
$black: #000000;
$white: #ffffff;

//Typography
$ff-montserrat: "Montserrat", "Arial", sans-serif;
$ff-title: "MontserratAlternates", "Arial", sans-serif;