//Colors
$primary: #3E549D;
$coquelicot: #F93C00;
$gray: #808080;
$black: #000000;
$white: #ffffff;
$bright-gray: #eeeeee;
$dark-charcoal: #333333;
$cultured: #f5f5f5;
$taupe-gray: #888888;
$error: #FF9CA8;
$success: #A9F0AC;
$info: #17a2b8;
$warning: #ffc107;

$gray2: #6c757d;
$gray-light: #e9ecef;
$gray-dark: #343a40;

//Typography
$ff-montserrat: "Montserrat", "Arial", sans-serif;
$ff-title: "MontserratAlternates", "Arial", sans-serif;