@use "../../scss/variables" as *;

.productCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    &__image {
        width: 197px;
        height: 205px;
    }

    &__price { 
        font-weight: 600;
    }

    &__textWrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
    }

    &__link {
        font-weight: 600;
        padding: 8px 25px;
        color: $white;
        background-color: $primary;
        border: 1px solid $primary;
        border-radius: 10px;
        transition: all 0.3s ease;

        &:hover {
            color: $primary;
            background-color: $white;
        }
    }
}